<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="UTF-8">

    <link  th:href="@{/static/mcfish/css/login.css}" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="content">
            <img src="" alt="Logo" id="logo">
            <p id="project"></p>
        </div>
    </div>
    <div class="login-content">
        <p style="text-align: left;color:#fff;font-size:20px;">管理员登录</p>
        <div  id="Msg" align="center" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"  style="color: red;height: 20px;"></div>

        <div class="input-login">
        	<form th:action="@{/user/login}"  method="post">
	            <input type="text"    name="username" id="username" value="admin" placeholder="请输入账号" />
	            <input type="password" name="password" id="password" value="123456" placeholder="请输入密码"/>
	            <div class="rem-scout">
	                <div>
	                	<input type="checkbox" name="remenber" onclick="remember2();" id="remFlag" value="" />
	                	<span style="color:#ffffff;">记住账号</span>
	                </div>
	            </div>
	            <button class="login-submit" id="loginBtn" onclick="remember()">登&nbsp;录</button>
	        </from>
        </div>
    </div>
    <div class="login-copyright">
		<p id="copyright" style="color: #ffffff;">-</p>
	</div>

    <script th:src="@{/static/dist/jquery/jquery.min.js}" src="../dist/jquery/jquery.min.js"></script>
    <script th:src="@{/static/dist/jquery/ui.js}" src="../dist/jquery/jquery.min.js"></script>
    <script th:src="@{/static/mcfish/js/mcfish.js}" src="../dist/jquery/jquery.min.js"></script>
    <script th:src="@{/static/mcfish/js/login.js}" src="../dist/jquery/jquery.min.js"></script>
    <script>
	    $(".login-submit").click(function(){
			// if($("#account").val()=="" ){
			// 	$("#Msg").text("请输入账号");
			// 	return false;
			// }
			// if($("#password").val()=="" ){
			// 	$("#Msg").text("请输入密码");
			// 	return false;
			// }
		});

        if (window != top){
			top.location.href = "${pageContext.request.contextPath}/"
		}
    </script>
</body>
