<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>客户资料</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" th:href="@{/static/dist/fonts/font-awesome.min.css}" href="../dist/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" th:href="@{/static/dist/adminlte/skin-mcblue.css}" href="../dist/adminlte/skin-mcblue.css">
		<link rel="stylesheet" th:href="@{/static/dist/adminlte/AdminLTE.css}" href="../dist/adminlte/AdminLTE.css">
		<link rel="stylesheet" th:href="@{/static/mcfish/css/mcfish.css}" href="../mcfish/css/mcfish.css">

	</head>

	<body class="hold-transition skin-blue sidebar-mini mc_body">
		<div class="wrapper">
			<div class="content-wrapper" style="margin-left: 0;">
				<section class="content mc_content">
					<div style="margin-top:10%">
						<h2 align="center" style="color: gray;font-size: 40px;">欢迎来到<span id="project">校园超市</span>-管理平台</h2>
					</div>
				</section>
			</div>
		</div>
		
		<script th:src="@{/static/dist/jquery/jquery.min.js}" src="../dist/jquery/jquery.min.js"></script>
		<script th:src="@{/static/dist/bootstrap/bootstrap.min.js}" src="../dist/bootstrap/bootstrap.min.js"></script>
		<script th:src="@{/static/dist/adminlte/adminlte.min.js}" src="../dist/adminlte/adminlte.min.js"></script>





		

	</body>

</html>