@charset "UTF-8";
body, p { margin: 0; padding: 0; overflow: hidden; font-family: '微软雅黑'; }

#dot { width: 100%; height: 100vh; background: linear-gradient(to bottom, #345a8d, #181f2f); }

.header { width: 100%; height: 100px;padding:0 15px 0 50px; position: fixed; top: 0; display: flex; align-items: center; }

.header .content { width: 80%; margin-top:17.5px; height:65px; display: flex; align-items: center; }

.header .content img {height: 65px;vertical-align: text-bottom;}

.header .content p { margin-left: 30px; font-size: 28px; font-weight:900;color: #ffffff; }

.login-content { width: 400px; height: 300px; position: absolute; top: 50%; right: 50%; margin-top: -230px; margin-right: -215px; background-color: rgba(50, 91, 136, 0.6); border-radius: 15px; padding: 15px; }
.login-copyright { width: 100%; position: absolute; top: 94%;text-align: center;}

.input-login>form>input { padding-left: 10px; height: 40px; width: calc(100% - 10px); border: 1px solid #eee; border-radius: 5px; margin: 10px 0; outline: 0; }

input[type="checkbox"] { vertical-align: middle; margin-right: 5px; }

.login-submit { margin-top: 30px; display: block; width: 100%; height: 45px; background-color: #0099FF; text-align: center; border-radius: 5px; font-size: 18px; color: #fff; border: 0; }

.rem-scout { display: flex; justify-content: space-between; }

.qy-wx { width: 100%; height: 45px; display: block; margin-top: 20px; }

.qy-wx img { width: 100%; }


/**
*  弹窗组件TIPS : css
*/
.win { display: none; }
.mask-layer { position: fixed; width: 100%; height: 100%; opacity: 0.5; filter: alpha(opacity=50); background-color: black; z-index: 99998; top: 0px; left: 0px; }
.window-panel { position: fixed; z-index: 99999; top: 50%; left: 50%; background-color: white; border-radius: 4px; }
.window-panel .title-panel { position: absolute; height: 36px; width: 100%; border-radius: 4px 4px 0 0; }
.window-panel .title { position: absolute; height: 36px; width: 100%; text-align: center; border-radius: 4px 4px 0 0; line-height: 36px; vertical-align: middle; background-color: whitesmoke; /*标题背景色*/ border-bottom: 1px solid rgb(233, 233, 233); z-index: 1; }
.window-panel h3 { font-size: 16px; margin: 0; }
.window-panel .close-btn { display: block; text-align: center; vertical-align: middle; position: absolute; width: 36px; height: 36px; line-height: 36px; right: 0px; text-decoration: none; font-size: 24px; color: black; background-color: #DBDBDB; border-radius: 2px; z-index: 1; }
.window-panel .close-btn:hover { background-color: #ccc; }
.window-panel .body-panel { position: absolute; width: 100%; top: 36px; border-radius: 0 0 4px 4px; z-index: 1;background: #fff;background-image: url(../images/wenli.png); }
.window-panel .body-panel.toast-panel{ min-width: 100px;position: absolute;color:#fff;background:rgba(0,0,0,0.3); }
.window-panel .content, .window-panel .btns { text-align: center; }
.window-panel .content { padding: 10px 10px 0px 10px; font-size: 16px; min-height: 40px; line-height: 22px; }
.window-panel .content.toast-content{min-height:0;margin: 0;padding: 10px;}
.window-panel .w-btn { display: inline-block; width: 60px; height: 26px; line-height: 26px; background-color: #DE5923; color: white; cursor: pointer; text-align: center; border-radius: 2px; text-decoration: none; margin: 0 10px 0px 10px; border: none; }
.window-panel .w-btn:hover { background-color: #DA3E00; }
.window-panel .w-btn:focus { outline: 0 none; }
.navbar-static-top .toggle-nav-line{position: relative}
.navbar-static-top .toggle-nav-item{ font-weight: bold;background: #09538e !important;}
.navbar-static-top .toggle-nav-item::after{content: '';position: absolute; left: 0; bottom: -3px; width: 100%; height: 5px; background:#2196f3}
