<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoriesMapper">


    <!-- 根据条件获取所有分类 -->
    <select id="getCategoriesList" parameterType="pd" resultType="com.example.order.entities.Category">
        select
        a.*,
        b.category_name as fatherCategoryName,
        (
        select
        count(id)
        from
        tb_category
        <where>

            <if test="keyword != null and keyword != ''">
                and (category_name like CONCAT('%',#{keyword},'%'))
            </if>
        </where>
        order by create_time desc
        ) as total
        from
        tb_category as a
        left join tb_category as b on a.father_id = b.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (a.category_name like CONCAT('%',#{keyword},'%'))
            </if>
        </where>
        order by create_time desc
        <if test="length != null  and length!='' and length != -1">
            limit #{start},#{length}
        </if>
    </select>


    <!-- 查找子分类 -->
    <select id="selectChildren" parameterType="pd" resultType="com.example.order.entities.Category">
        select
            id,
            category_name
        from
          tb_category
        where
        father_id = #{id}
        order by create_time desc
    </select>


    <!-- 查找所以父分类 -->
    <select id="getAllFatherCategories" parameterType="pd" resultType="com.example.order.entities.Category">
        select
            id,
            category_name
        from
          tb_category
        where
        father_id = 0
        order by create_time desc
    </select>


    <!-- 删除课程 -->
    <delete id="deleteCategory" parameterType="pd">
        delete
        from
        tb_category
        where
        id = #{id}
    </delete>


    <!-- 得到所有分类 -->
    <select id="getAllcategories" parameterType="pd" resultType="com.example.order.entities.Category">
        select
            id,
            category_name
        from
          tb_category
        order by create_time desc
    </select>


    <!-- 新增父分类-->
    <insert id="addCategory" keyProperty="id" useGeneratedKeys="true" parameterType="pd">
        insert into
        tb_category
        (category_name, create_time)
        values
        ( #{categoryName},#{create_time})
    </insert>


    <!-- 新增子分类-->
    <insert id="addSunCategory" keyProperty="id" useGeneratedKeys="true" parameterType="pd">
        insert into
        tb_category
        (father_id,category_name, create_time)
        values
        ( #{categoryFatherId},#{categoryNameSun},#{create_time})
    </insert>
</mapper>